<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiushui.crm.workbench.mapper.ContactsMapper">
  <resultMap id="BaseResultMap" type="com.qiushui.crm.workbench.pojo.Contacts">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="owner" jdbcType="CHAR" property="owner" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="customer_id" jdbcType="CHAR" property="customerId" />
    <result column="fullname" jdbcType="VARCHAR" property="fullname" />
    <result column="appellation" jdbcType="VARCHAR" property="appellation" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mphone" jdbcType="VARCHAR" property="mphone" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
    <result column="edit_time" jdbcType="CHAR" property="editTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="contact_summary" jdbcType="VARCHAR" property="contactSummary" />
    <result column="next_contact_time" jdbcType="CHAR" property="nextContactTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_contacts
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insertForOrigin" parameterType="com.qiushui.crm.workbench.pojo.Contacts">
    insert into tbl_contacts (id, owner, source,
      customer_id, fullname, appellation, email, mphone, job,
      create_by, create_time,  description, contact_summary,
      next_contact_time, address)
    values (#{id,jdbcType=CHAR}, #{owner,jdbcType=CHAR}, #{source,jdbcType=VARCHAR},
      #{customerId,jdbcType=CHAR}, #{fullname,jdbcType=VARCHAR}, #{appellation,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{mphone,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR},
      #{description,jdbcType=VARCHAR}, #{contactSummary,jdbcType=VARCHAR},
      #{nextContactTime,jdbcType=CHAR}, #{address,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.qiushui.crm.workbench.pojo.Contacts">
    update tbl_contacts
    set owner = #{owner,jdbcType=CHAR},
      source = #{source,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=CHAR},
      fullname = #{fullname,jdbcType=VARCHAR},
      appellation = #{appellation,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mphone = #{mphone,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=CHAR},
      edit_by = #{editBy,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      contact_summary = #{contactSummary,jdbcType=VARCHAR},
      next_contact_time = #{nextContactTime,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, owner, source, customer_id, fullname, appellation, email, mphone, job,
    create_by, create_time, edit_by, edit_time, description, contact_summary, next_contact_time,
    address
    from tbl_contacts
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, owner, source, customer_id, fullname, appellation, email, mphone, job,
    create_by, create_time, edit_by, edit_time, description, contact_summary, next_contact_time,
    address
    from tbl_contacts
  </select>
</mapper>
