<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiushui.crm.workbench.mapper.CustomerRemarkMapper">
  <resultMap id="BaseResultMap" type="com.qiushui.crm.workbench.pojo.CustomerRemark">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="note_content" jdbcType="VARCHAR" property="noteContent" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
    <result column="edit_time" jdbcType="CHAR" property="editTime" />
    <result column="edit_flag" jdbcType="CHAR" property="editFlag" />
    <result column="customer_id" jdbcType="CHAR" property="customerId" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_customer_remark
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insertOriginData" parameterType="com.qiushui.crm.workbench.pojo.CustomerRemark">
    insert into tbl_customer_remark (id, note_content, create_by,
      create_time, edit_by, edit_time,
      edit_flag, customer_id)
    values
        <foreach collection="list" item="obj" separator=",">
          (#{obj.id,jdbcType=CHAR}, #{obj.noteContent,jdbcType=VARCHAR}, #{obj.createBy,jdbcType=VARCHAR},
          #{obj.createTime,jdbcType=CHAR}, #{obj.editBy,jdbcType=VARCHAR}, #{obj.editTime,jdbcType=CHAR},
          #{obj.editFlag,jdbcType=CHAR}, #{obj.customerId,jdbcType=CHAR})
        </foreach>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.qiushui.crm.workbench.pojo.CustomerRemark">
    update tbl_customer_remark
    set note_content = #{noteContent,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=CHAR},
      edit_by = #{editBy,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=CHAR},
      edit_flag = #{editFlag,jdbcType=CHAR},
      customer_id = #{customerId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, note_content, create_by, create_time, edit_by, edit_time, edit_flag, customer_id
    from tbl_customer_remark
    where id = #{id,jdbcType=CHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, note_content, create_by, create_time, edit_by, edit_time, edit_flag, customer_id
    from tbl_customer_remark
  </select>
</mapper>
